*{
    margin: 0;
    padding: 0;
   
}

.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg,#4203a9,#90bafc);
    background: linear-gradient(135deg,#A020F0,#debaf5); */
    background: linear-gradient(135deg, #a141dc, #d8cede);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main{
    width: 100%;
    max-width: 600px;
    margin-top: 10%;
}

h1{
    font-size: 60px;
    color: #ffffff;
    margin-left: 10px;
}

.inputbox{
    margin: 50px 0px;
    padding: 35px;
    border-radius: 1rem;
    /* background: rgba(230, 230, 250, .8); */
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    text-align: center;
}

#date{
    width: 80%;
    padding: 15px;
    font-size: 20px;
    margin: 5px;
    border: none;
    border-radius: 1rem;
}

#btnn{
    width:25%;
    margin: 5px;
    cursor: pointer;
    background-color:#7e8b94;
    border: none;
    border-radius: .5px;
    font-size: larger;
}

#btnn:hover {background-color: #8596a1}

#btnn:active {
  background-color:#7e8b94;
  box-shadow: 0 5px #666;
}

#age{
    font-size: 30px;
    font-style: italic;
    margin-top: 60px;
    width: 800px;
}